.form {
    width: 40%;
    margin: auto;
    padding: 4rem 2rem;

}

h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    text-shadow: 1px 4px 12px #000000;
}

.full-width {
    width: 100%;
    margin: 1rem;
}

button {
    display: inline;
    width: 47%;
    margin: 1rem 0.5rem auto 0.5rem;

}